* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;   /* Hide horizontal scroll bar */
    overflow-y: hidden;   /* Hide horizontal scroll bar */
    font-family: Helvetica, sans-serif;
}

:root {
    --bgColor: #222222;
    --textColor: white;
    --operatorsColor: #303030;
    --dropdownColor: #303030;
    --numbersColor: #3a3a3a;
    --buttonActiveColor: #202020;
    --equalsColor: #FF3D00;
    --equalsHoverColor: #cf3000;
    --equalsActiveColor: #ba2b00;
    --shadowColor: rgba(0, 0, 0, 0.2);
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--bgColor);
}

.top-container {
    display: flex;
    width: 100%;
    height: 42%;
}

.header {
    /* 78% of main's width */
    /* Full height of top-container */
    width: 78%;
    height: 100%;
}

.calcNav {
    width: 100%;
    height: 28.6%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5%;
    margin-top: 0.5%;
}

.sidebar-icon {
    height: 70%;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-icon:hover{
    background-color: #292929;
    border-width: 0px;
    border-radius: 6px;
    border-color: transparent;
}

.sidebar-icon img {
    height: 2.4vh;
}

.sidebar-icon:active img{
    animation: squeezeOnly 0.4s ease;
}

@keyframes squeezeOnly {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1); /* squeeze: narrow & tall */
  }
  100% {
    transform: scale(1, 1); /* back to normal */
  }
}

.calcType {
    height: 100%;
    width: 95%;
    color: var(--textColor);
    font-family: "Poppins";
    font-size: 2.7vh;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vh;
}

#inputBoxes {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputBox1,
#inputBox2 {
    text-align: right;
    border: none;
    background: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inputBox1 {
    width: 100%;
    height: 20%;
    font-size: 2.5vh;
    color: #a6a6a6;
}

#inputBox2 {
    width: 100%;
    height: 60%;
    font-size: 6vh;
    font-weight: 500;
    color: white;
}

#inputBox2::placeholder {
    color: white;
    /* Change to your desired color */
    opacity: 1;
    /* Ensures full visibility in some browsers */
}

.memory {
    width: 22%;
    /* 22% of main's width */
    height: 100vh;
    /* Full height of top-container */
}

.history {
    height: 11.9%;
    padding-left: 4%;
    width: 100%;
    color: var(--textColor);
    font-family: "Poppins";
    font-size: 2.2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.thin-line {
  height: 1px;
  width: 105%;            /* Prevent horizontal overflow */
  border: none;
  background-color: rgb(52, 52, 52);
}

.input-btns {
    width: 78%;
    /* 75% of main's width */
    height: 70%;
    /* 75% of main's height */
    background-color: var(--bgColor);
    position: relative;
}

.advOperations{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.advOperations button{
    width: 12%;
    height: 85%;
    margin-left: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 2vh;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.advOperations button:hover {
    background-color: var(--operatorsColor);
    border-width: 0px;
    border-radius: 6px;
    border-color: transparent;
}

.advOperations button:active {
    background-color: var(--buttonActiveColor);
    /* Color when clicked */
    transform: scale(0.98);
    /* Slight press effect */
}

#dropdownSymbol{
    color: var(--textColor);
    width: 15%;
}

#trigonoOps{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2d2d2d;
    border-width: 0px;
    border-radius: 6px;
    height: 28%;
    width: 28%;
    z-index: 10;
    position: absolute;
    top: 11%;
    left: 0.8%;
}

#trigonoRow1,
#trigonoRow2{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#trigonoOps button{
    color: var(--textColor);
    background-color: var(--numbersColor);
    width: 23.5%;
    height: 97%;
    font-size: 2.2vh;
    border-width: 0px;
    border-radius: 6px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
}

#trigonotoggle > :last-child{
    display: none;
}

#trigonoOps button:hover {
    background-color: var(--operatorsColor);
}

#trigonoOps button:active {
    background-color: var(--buttonActiveColor);
    /* Color when clicked */
    transform: scale(0.98);
    /* Slight press effect */
}

#consts{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2d2d2d;
    border-width: 0px;
    border-radius: 6px;
    height: 38%;
    width: 38%;
    z-index: 10;
    position: absolute;
    top: 11%;
    left: 11%;
}

#constRow1, #constRow2, #constRow3{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#consts button{
    color: var(--textColor);
    background-color: var(--numbersColor);
    width: 18.6%;
    height: 88%;
    font-size: 2.2vh;
    border-width: 0px;
    border-radius: 6px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
}

#consts button:hover {
    background-color: var(--operatorsColor);
}

#consts button:active {
    background-color: var(--buttonActiveColor);
    /* Color when clicked */
    transform: scale(0.98);
    /* Slight press effect */
}

.button-arranger {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.rows{
    width: 100%;
    height: 13.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    color: var(--textColor);
    width: 19.7%;
    height: 99%;
    font-size: 2.8vh;
    border-width: 0px;
    border-radius: 6px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    box-shadow: 0 4px 8px var(--shadowColor);
    cursor: pointer;
}

#exp,
#clear-all{
    font-size: 2.5vh;
}
#Brackets #openBracket {
    height: 30%;
    font-size: 1.7vh;
    font-weight: 500;
    position: relative;
    top: 18.5%;
}

.numbers {
    background-color: var(--numbersColor);
}

.numbers:hover {
    background-color: var(--operatorsColor);
}

.numbers:active {
    background-color: var(--buttonActiveColor);
    /* Color when clicked */
    transform: scale(0.98);
    /* Slight press effect */
}

.operators {
    background-color: var(--operatorsColor);
}

.operators:hover {
    background-color: var(--numbersColor);
}

.operators:active {
    background-color: var(--buttonActiveColor);
    /* Color when clicked */
    transform: scale(0.98);
    /* Slight press effect */
}

#equals {
    font-size: 3.5vh;
    background-color: var(--equalsColor);
    transition: all 0.1s ease-in-out;
    box-shadow: 0 4px 8px var(--shadowColor);
}

#equals:hover {
    background-color: var(--equalsHoverColor);
}

#equals:active {
    background-color: var(--equalsActiveColor);
    /* Color when clicked */
    transform: scale(0.98);
    /* Slight press effect */
}

.icon {
    width: 4.5vh;
    /* Set SVG width */
}

#degOrRad {
    width: 8%;
    height: 18%;
    margin-left: 1vh;
    color: var(--textColor);
    background-color: transparent;
    font-size: 2vh;
    border: none;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
}

#degOrRad:hover {
    background-color: #353535;
}

#degOrRad:hover {
    background-color: #292929;
}

#degOrRad:active {
    background-color: var(--bgColor);
}


.no-select {
    user-select: none;
    /* Prevents text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#sqrOrCube > :last-child{
    display: none;
}

#sqrtOrCbrt > :last-child{
    display: none;
}

#powerOrRoot > :last-child{
    display: none;
}

#tenPowerOrTwoPower > :last-child{
    display: none;
}

#log10OrLog > :last-child{
    display: none;
}

#lnOrE > :last-child{
    display: none;
}

#toggleOperators > :last-child{
    display: none;
}

#trigonoRow1 button > :not(:first-child) {
  display: none;
}

#trigonoRow2 button > :not(:first-child) {
  display: none;
}

/* Hide .history-icon above 1050px */
@media (min-width: 1050px) {
    .history-icon {
        display: none;
    }
}